name: Scoop

on:
  release:
    types: [released]

permissions:
  contents: write

concurrency:
  group: scoop-${{ github.event.release.tag_name }}
  cancel-in-progress: false

jobs:
  update:
    name: Update Scoop manifest
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Configure git
        run: python scripts/gha/common/configure_git_bot.py

      - name: Update `bucket/ztnet.json`
        env:
          GH_TOKEN: ${{ github.token }}
        run: python scripts/gha/scoop/update_manifest_from_release.py --tag "${{ github.event.release.tag_name }}"

      - name: Commit
        run: python scripts/gha/scoop/commit_if_changed.py --tag "${{ github.event.release.tag_name }}"
